In [1]:
# import the libraries 
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
path = "../Data/FInal_data.csv"
df = pd.read_csv(path)
df.head()

,Age,Gender,Smoking_Status,Family_History_COPD,BMI,Location,Air_Pollution_Level,COPD_Diagnosis
0,31,Male,Former,1,27.56,Lalitpur,84,0
1,60,Male,Never,0,30.30,Pokhara,131,0
2,33,Male,Former,1,28.45,Pokhara,123,0
3,36,Female,Current,0,27.49,Kathmandu,253,1
4,58,Male,Never,0,25.49,Pokhara,117,0

In [3]:
# Age Categories

df['Age_Category']= pd.cut(df['Age'], bins= [29,39,49,59,69,79], labels=['30-39', '40-49', '50-59', '60-69', '70-79'])
df['BMI_Category']= pd.cut(df['BMI'], bins= [0,18.5,24.5,29.9,35], labels = ['Underweight', 'Normalweight', 'Overweight','Obessity'])

In [4]:
# Pollution risk score

df['Pollution_Risk_Score']= np.where(df['Air_Pollution_Level']>150,1,0)

In [5]:
# Encode Smoking Status
df['Smoking_Status_Encoded']= df['Smoking_Status'].map({'current':1, 'Former':0.5, 'Never':0})

# Interaction Features - Smoking Status and Pollution Level
df['Smoking_Pollution_interaction']= df['Smoking_Status_Encoded'] * df['Air_Pollution_Level']

df.head()

,Age,Gender,Smoking_Status,Family_History_COPD,BMI,Location,Air_Pollution_Level,COPD_Diagnosis,Age_Category,BMI_Category,Pollution_Risk_Score,Smoking_Status_Encoded,Smoking_Pollution_interaction
0,31,Male,Former,1,27.56,Lalitpur,84,0,30-39,Overweight,0,0.5,42.0
1,60,Male,Never,0,30.30,Pokhara,131,0,60-69,Obessity,0,0.0,0.0
2,33,Male,Former,1,28.45,Pokhara,123,0,30-39,Overweight,0,0.5,61.5
3,36,Female,Current,0,27.49,Kathmandu,253,1,30-39,Overweight,1,NaN,NaN
4,58,Male,Never,0,25.49,Pokhara,117,0,50-59,Overweight,0,0.0,0.0

In [6]:
# One hot encoding for Location

df_encoded = pd.get_dummies(df, columns=['Gender'], drop_first=True)

df.to_csv('COPD_engineered_data.csv', index=False)